<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a class="center-button-1 main-btn" href="/stream">Start Video Stream</a>
                <a class="center-button-2 main-btn" href="/visualize">Visualize Video Stream</a>
            </div>
            <div class="sidebar">
                <h2 style="color: white;">Last recordings</h2>
                <ul class="recordings-list">
                    <% files.forEach( (file) => { %>
                        <li class="link">
                            <a href="/view?video=<%= file %>"><%= file %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </body>

</html>

