body {
    font-family: 'Fira Sans', sans-serif;
    background: black;
}

.center-button-1 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.center-button-2 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.main-btn {
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 2px;
    display: inline-block;
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 640px 1fr 1fr;
    grid-template-rows: 100px 500px 100px;
    grid-template-areas:
        ". header header header ."
        "sidebar . main main . "
        ". footer footer footer .";
}

.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: header;
}

.emit-title {
    grid-column: 2 / span 2;
}

.sidebar {
    padding-left: 15px;
    grid-area: sidebar;
}

.recordings-list {
    padding-left: 12px;
}

.link {
    padding: 8px 7px 0px 7px;
    display: inline-block;
    height: 30px;
    font-size: 16px;
    background: black;
    border-radius: 5px;
}

.link a {
    text-decoration: none;
    color: white;
}

.link:hover {
    cursor: pointer;
    background: white;
}

.link:hover a {
    color: black;
}

.main {
    grid-area: main;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-area: footer;
}

.download-link {
    grid-column-start: 2;
    font-size: 24px;
    padding-top: 8px;
}
