<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <body>
            <div class="container">
                <div class="header">
                    <h1 class="emit-title" style="text-align: center; color: white;">View saved video</h1>
                </div>
                <div class="main">
                    <video src="/<%= video %>" controls autoplay></video>
                </div>
                <div class="footer">
                    <a class="download-link main-btn" href="/download?id=<%= video %>">Download video</a
                </div>
            </div>
        </body>
    </body>
</html>

